<div class="container__home">
    <app-menu-bar></app-menu-bar>
    <app-menu-title></app-menu-title>
    <div class="container__home-cards">
        <app-big-card 
        photoCover="https://media.zenfs.com/en/purewow_185/292be5a8e3187d77d442ad483f2fc844" 
        cardData="08/04/2024"
        cardTitle="Serena finalmente conquistou o título de mulher mais burra do mundo"
        cardDescription="Após muitos anos, serena batalhou sem medir esforços pra alcançar esse título e finalmente conseguiu, chegou ao topo."
        
        ></app-big-card>
        <div>
            <app-small-card
            photoCover="https://www.byrdie.com/thmb/Q3Updc0w8whKw8RSQUKLRGF1KPI=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/blairwaldorf-6ac72b313e53479aacac362e84f645ff.jpg" 
            cardData="08/04/2024"
            cardTitle="Blair Waldorf Revela Planos para Abrir Uma Escola de Moda de Prestígio na Upper East Side "
      
            ></app-small-card>
            <app-small-card
            photoCover="https://www.deabyday.tv/.imaging/default/article/articles/love/what-snew/Chuck-Bass--fenomenologia-di-uno-sciupafemmine-moderno/imageOriginal.jpg" 
            cardData="07/04/2024"
            cardTitle="Chuck Bass Anuncia Incursão na Indústria Cinematográfica com Produção de Filme Beneficente"

            ></app-small-card>
            <app-small-card 
            photoCover="https://s2-glamour.glbimg.com/Nc7ZKqrhJtULsoZTAz1a0jxUS0Y=/0x0:607x417/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_ba3db981e6d14e54bb84be31c923b00c/internal_photos/bs/2021/P/L/HUg6aiSsuwTBHrGpHA2A/2015-12-18-serena-van-der-woodsen.jpg" 
            cardData="07/04/2024"
            cardTitle="Blair e Serena foram vistas com uniforme escolar, qual será o motivo obscuro?"

            ></app-small-card>
        </div>
    </div>
</div>
